<header id="header">
    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" target="_blank" href="https://github.com/ekalosha/angular-generator">
                    <span class="glyphicon glyphicon-home"></span>
                    Angular-dft
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li data-ui-sref-active="active">
                        <a href="javascript:void(0)" data-ui-sref="layout.home">Home</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a href="javascript:void(0)" data-ng-click="root.sayNo('About')">About</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a href="javascript:void(0)" data-ng-click="root.sayNo('Contact')">Contact</a>
                    </li>
                    <li data-ui-sref-active="active" class="dropdown selectList">

                          <a class="dropdown-toggle" data-toggle="dropdown">Students <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" data-ui-sref="layout.salnikov">Student1</a></li>
                            <li><a href="javascript:void(0)">Student2</a></li>
                            <li><a href="javascript:void(0)">Student3</a></li>
                            <li><a href="javascript:void(0)">Student4</a></li>
                            <li><a href="javascript:void(0)">Student5</a></li>
                          </ul>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main id="main" data-ui-view></main>
